[user]
	name = rhlobo
	email = rhlobo+github@gmail.com
[credential]
	helper = cache --timeout=18000
[core]
	autocrlf = input
[alias]
	co = checkout
	st = status
	ct = commit
	br = branch
	rb = rebase
